# Ignore __pycache__ folders inside backend
backend/gallery/__pycache__/
backend/event_registration/__pycache__/
backend/meetConf/__pycache__/

# Ignore venv,idea,env folder inside backend
backend/venv/
backend/idea/
backend/env/
