.container {
    width: 1224px;
    margin: 0 auto;
}

.main {
    min-height: 100vh;
    padding-top: 60px;
}

.header {
    position: relative;
    background-color: #1c1d1e;
    margin-bottom: 30px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header_inner {
    background: url("") no-repeat left center;
    background-size: cover;
    width: 900px;
    height: 500px;
}

.header_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1200px;
    margin-top: 70px;
    color: white;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 500px;
    font-weight: 500;
    font-size: 40px;
}

.header_content h1 {
    width: 700px;
}

.header_content p {
    font-size: 18px;
}

/****************SliderOfLogos***********************/

.logos {
    position: relative;
    margin-bottom: 30px;
}

.logos_inner {
    height: 200px;
    background-color: #F7931E;
}

.logos_inner img {
    width: 100px;
}

/****************SliderOfMeets***********************/

.meets {
    position: relative;
    height: 500px;
    margin-bottom: 30px;
}

.meets_inner {
    width: 1080px;
    margin: 0px auto;
}